<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://job-artifacts.eascdn.net/production/09e23dbc-8628-431a-9c1d-7c4829edcf58/27c1fb3c-9a81-4c90-84eb-a013ba823cce/application-c21da561-f513-4b36-a6d4-2a5431d7142f.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=www-production%40exponentjs.iam.gserviceaccount.com%2F20250430%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20250430T112727Z&amp;X-Goog-Expires=900&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=153ebb2f43fe6a0c1be4d4cf2c1adf9e974edc2d85ce257f670034791947e77bd865219684bdfb1cb65919aaaed3a2d940a8e0c1af11e91da57b057186f6eaceee7b6f6cce3cf4a3c4e1e91457a994fed3c895d938890b55820120d88477ef90793c7d1540f60271d27e2984b5df593f34a8e8b46ae8a601a32413a0fcea3d70114106c0d048a8aa33774af782fc31d6cfcf37843133ee63c546cd72f263bfc6c5cf9436846ae84504cab5b0dd8650481cfffa51cd9445b625d5667ef6130db9fb5541f1919c85e9de5dc81a4df2021e3cd4571430153e3ade786845164d29cccc2df80f7f14ff1996dd5bc359b143e3ef0f3decf5c3b93cd27a3ceef893265a</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>url</key>
            <string>https://classic-assets.eascdn.net/~assets/a56d2600e3e649b0df1053dc28231095</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>url</key>
            <string>https://classic-assets.eascdn.net/~assets/a56d2600e3e649b0df1053dc28231095</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>fi.luke.omakala</string>
          <key>bundle-version</key>
          <string>1.0</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>Omakala</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
